@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');
$primary-color : rgb(17, 24, 39);
$primary-color-1 : rgb(3, 22, 52);

$secondary-color : #9f9fa3;
$background-dark : #262A33;
$background-light : #E2E0CD;

$text-dark : rgb(52, 58, 64);
$text-light : rgb(193, 193, 193);
$text-primary-light : #212121;
$text-secondary-light : #757575;
$text-blue : #192a56;

$alphaT : .7;
$info-color : #013ca6;
$info-hover : rgba($color : $info-color, $alpha : $alphaT);
$danger-color : #ff0000;
$danger-hover : rgba($color : $danger-color, $alpha : $alphaT);
$warning-color : #ffdd00;
$warning-hover : rgba($color : $warning-color, $alpha : $alphaT);
$success-color : #009688;
$success-hover : rgba($color : $success-color, $alpha : $alphaT);

$white-color : #fefefe;
$black-color : #000000;
$border : rgba($color: #BDBDBD, $alpha : .3);
$border-radius : 4px;
$box-shadow : 0px 11px 10px -9px $text-light;
$transition : .5s;
$anchoF : 225px;
$ancho : calc(100% - 225px);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
@mixin scroll {
	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}
	&::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius: 20px;
    border: 2px solid $white-color;
	}
	&::-webkit-scrollbar-track {
    border-radius: 10px;  
	}
	&::-webkit-scrollbar:horizontal {
    height: 12px;
	}
	&::-webkit-scrollbar:vertical {
    width: 12px;
	}
}
@mixin btn {
	position: relative;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 8px 12px;
	text-transform: uppercase;
	background: none;
	border: none;
	border-radius: $border-radius;
	background: $success-color;
	color: $white-color;
	&:hover{
		background: $success-hover;
		box-shadow:$box-shadow;
	}
}
html{
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
	@include scroll();
}
.container{
	width: 96%;
	margin: 100px auto;
}
// navegacion
.container-main{
	position: relative;
	.arrow .list__arrow{
		transform: rotate(90deg);
	}
	.navigation{
		position: fixed;
		left: 0;
		top: 0;
		width: 220px;
		height: 100%;
		background: $primary-color;
		transition: $transition;
		.cont-menu{
			position: relative;
			.box-head{
				padding: 20px 0px;
				border-bottom: 1px solid $border;
				.box-logo{
					width: 100%;
					text-align: center;
				}
				.box-version{
					text-align: center;
					color: $white-color;
				}
				.box-close{
					display: none;
				}
			}
			.nav{
				width: 100%;
				margin-top: 30px;
				.list{
					.list__item{
						overflow: hidden;
						.nav__link{
							width: 100%;
							text-decoration: none;
							font-size: 1.2em;
							color: rgba($color: $text-light, $alpha: .5);
							display: flex;
							align-items: center;
							padding: 5px 20px 5px 20px;
							margin-bottom: 4px;
							transition: .5s;
							cursor: pointer;
							.icon{
								margin-right: 20px;
							}
							.fa-arrow-right{
								margin-left: auto;
								transition: transform .3s;
							}
							&.active{
								color: $white-color;
							}
							&:hover{
								background: rgba($color: $text-light, $alpha: .5);
								color: $white-color
							}
						}
						// desplegable
						.listShow{
							transition: height .4s;
							height: 0;
							.listInside{
								padding-left: 40px;
								.fa-solid{
									margin-right: 5px;
									font-size: 1em;
								}
								.linkInside{
									display: flex;
									align-items: center;
									font-size: 1.2em;
									margin-bottom: 2px;
									padding: 2px 4px 2px 10px;
									text-decoration: none;
									color: rgba($color: $text-light, $alpha: .5);
									&:hover{
										color: $white-color;
									}
									&.active{
										color: $white-color;
									}
								}
							}
						}
					}
				}
			}
		}
		.cont-footer{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			padding: 10px 0;
			background: rgba($color : $primary-color, $alpha : $alphaT);
			color: $text-light;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 20px;
			font-size: 1.3rem;
			a{
				text-decoration: none;
				cursor: pointer;
				color: $text-light;
			}
		}
	}
}
//box-main
.container-main{
	.box-main{
		position: absolute;
		left: 220px;
		top: 0;
		width: calc(100% - 220px);
		background: $background-light;
		transition: $transition;
	}
}
// topbar
.container-main{
	.box-main{
		.topbar{
			position: fixed;
			top: 0;
			width: calc(100% - 220px);
			height: 70px;
			background: $white-color;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 20px;
			box-shadow:$box-shadow;
			transition: $transition;
			z-index: 1;
			&.sticky{
				height: 60px;
			}
			.box-menu{
				.toggle{
					font-size: 1.8em;
					color: $text-light;
					cursor: pointer;
					&:hover{
						color: $danger-color;
					}
				}
			}
			.info-user{
				width: 50px;
				height: 50px;
				border-radius: 50px;
				overflow: hidden;
				object-fit: cover;
				background-position: center;
				background-size: cover;
				background-repeat: no-repeat;
				img{
					width: 100%;
				}
			}
		}
	}
}
//card
.container{
		.box-card{
			margin-bottom: 20px;
			.card{
				width: 250px;
				padding: 20px;
				background: $warning-color;
				border-radius: 4px;
				.card-body{
					.text-card{
						font-size: 1.2em;
						color: $text-blue;
						text-decoration: none;
						transition: .5s;
						cursor: pointer;
						.numbers{
							font-size: 1.3em;
							margin-right: 4px;
						}
						&:hover{
							color: rgba($color: $text-blue, $alpha: .7);
						}
					}
				}
			}
		}
	
}
// contenido
.heading{
	margin-bottom: 3rem;
	background: $white-color;
	padding: 2rem 1rem;
	border-radius: $border-radius;
	.title{
		font-size: 2rem;
		color: $primary-color;
		font-weight: 300;
		text-transform: capitalize;
		span{
			color: $danger-color;
			font-size: 2.3rem;
			font-weight: 400;
		}
	}
}
// radio
.container{
	.tools{
		background: $white-color;
		padding-top: 2rem;
		border-radius: $border-radius;
		label{
			position: relative;
			span{
				margin-right: 1rem;
				padding: .5rem 1.5rem;
				background: $info-color;
				color: $white-color;
				text-transform: uppercase;
				font-size: .8rem;
				border-radius: $border-radius;
				transition: $transition;
			cursor: pointer;
			}
			input{
				display: none;
				&:checked~ span{
					background: $warning-color;
					color: $primary-color;
					box-shadow:$box-shadow;
					&::before{
						font-family: 'fontawesome';
						content: '\f00c';
						position: absolute;
						top: .13rem;
						left: .3rem;
						font-size: 1.1rem;
					}
				}
			}
		}
	}
}

.box-cont{
	border-radius: $border-radius;
	// padding: .5rem 2rem;
	.link_url{
		color: $primary-color;
		&:hover{
			color: $text-light;
		}
		&:visited{
			color: $info-color;
		}
	}
}
// tabla de sitios
.box{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	gap: 10px;
	.listSitios{
		width: 100%;
		grid-column: 1 / 10;
		background: $white-color;
		border-radius: $border-radius;
		padding: 2rem;
		overflow-x: auto;
		@include scroll();
	}
	.addSites{
		grid-column: 10 / -1;
		.cardHeader{
			background: $white-color;
			padding: 2rem;
			border-radius: $border-radius;
			h2{
				color: $primary-color;
				padding-bottom: 2rem;
			}
			.formSiteAdd{
				width: 100%;
				.box-input{
					position: relative;
					margin-bottom: 5px;
					input{
						width: 100%;
						padding: .3rem;
						font-size: 1.1rem;
						color: $text-primary-light;
						padding-left: 25px;
						border: 1px solid $text-secondary-light;
						border-radius: $border-radius;
						margin-bottom: 5px;
					}
					i{
						position: absolute;
						left: 5px;
						top: 6px;
						font-size: 1rem;
						color: $text-dark;
					}
				}
				.box-button{
					.btn-addSite{
						@include btn();
					}
					.btn-updateSite{
						@include btn();
						display: none;
						background: $info-color;
						color: $white-color;
						&:hover{
							background: $info-hover;
							box-shadow:$box-shadow;
						}
					}
				}
			}
		}
	}
}
// formulario de agregar cuenta 
.box-form{
	padding: 2rem 1rem;
	background: $white-color;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	.title-box{
		font-size: 1.8rem;
		color: $primary-color;
		font-weight: 300;
		margin-bottom: 1rem;
	}
}
input,select{
	width: 96%;
	border-radius: $border-radius;
	border-color: $text-secondary-light;
	color: $text-primary-light;
	font-size: 11px;
	padding: 5px;
	outline: none;
}
.form-add-cuenta{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	gap: 10px;
	padding: 20px 0;
	
}
.box-medio{
	display: flex;
	gap: 10px;
	.box-radio{
		width: 100%;
		display: flex;
		justify-content: space-around;
		position: relative;
		gap: 5px;
		label{
			.span{
				padding: 5px 10px;
				background: $text-secondary-light;
				color: $primary-color;
				text-transform: uppercase;
				font-size: .8rem;
				border-radius: $border-radius;
				transition: $transition;
				cursor: pointer;
				position: relative;
			}
			input{
				display: none;
					&:checked~ .span{
					background: $primary-color;
					color: $white-color;
					box-shadow:$box-shadow;
					padding-left: 25px;
					&::before{
						font-family: 'fontawesome';
						content: '\f00c';
						position: absolute;
						left: 4px;
						top: 6px;
						font-size: 14px;
					}
				}
			}
		}
	}
}
//formularios con input label flotantes
form{
	.label{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		pointer-events: none;
		border-bottom: 1px solid $text-light;
		&::after{
			content: '';
			position: absolute;
			left: 0;
			bottom: -1px;
			width: 100%;
			height: 100%;
			border-bottom: 2px solid $info-color;
			transform: translateX(-100%);
			transition: $transition;
		}
		.span{
			position: absolute;
			bottom: 5px;
			left: 0;
			color: $primary-color;
			transition: $transition;
			text-transform: capitalize;
		}
	}
	.box-input{
		width: 100%;
		height: 30px;
		position: relative;
		overflow: hidden;
		input[type=text]{
			width: 100%;
			height: 100%;
			background: none;
			color: $primary-color;
			padding-top: 10px;
			border: none;
			outline: 0px;
			&:focus + .label .span,
			&:valid + .label .span{
				transform: translateY(-60%);
				font-size: 11px;
				color: $text-light;
			}
			&:focus + .label::after,
			&:valid + .label::after{
				transform: translateX(0%);
			}
			
		}
	}
}
// agregar cuenta
.form-add-cuenta{
	.box-pregunta{
		grid-column: 1 / -1;
		width: 100%;
		margin-top: .625rem;
		border-top: 2px dotted $text-light;
		padding: 2rem 0;
		display: grid;
		grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
		gap: 20px;
		.box-input{
			margin-bottom: 10px;
			width: 100%;
		}
	}
	.btnAddC{
		@include btn();
		width: 150px;
	}
}
// listar cuentas
.box-cuenta{
	width: 100%;
	background: #fefefe;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	.listCuenta{
		// border-radius: 4px;
		// padding: 2rem;
		// overflow-x: auto;
		width: 100%;
    background: #fefefe;
    border-radius: 4px;
    padding: 2rem;
    overflow-x: auto;
	}
}
// 
.box-perfil{
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 4fr;
	gap: 20px;
}

.box-img-profile{
	width: 200px;
	background: $white-color;
	border-radius: $border-radius;
	box-shadow: $box-shadow;
	padding: 2rem;
	h5{
		text-align: center;
		font-size: 16px;
		margin-bottom: 30px;
		color: $primary-color;
		font-weight: 300;
	}
	.formImg{
		height: 100px;
		border-radius: 50px;
		background-image: url(../../src/images/default.png);
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
		#file{
			display: none;
		}
		.search{
			position: absolute;
			top: 50%;
			left: 50%;
			color: rgba($color : $text-secondary-light, $alpha : $alphaT);
			transform: translate(-50%, -50%);
			cursor: pointer;
			font-size: 2rem;
			z-index: 1000;

		}
	}
	#preview-images{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100px;
		height: 100px;
		// border-radius: 50%;
		// border: 1px solid rgba($color : $text-secondary-light, $alpha : $alphaT);
		z-index: 0;
		.thumbnail {
			width: 100px;
			height: 100px;
			border-radius: 50px;
			display: inline-block;
			vertical-align: middle;
			// border: solid 2px #CCC;
			background-size: cover;
			position: relative;
			.close-button {
				width: 20px;
				height: 20px;
				background-color: black;
				color: white;
				text-align: center;
				position: absolute;
				top: 5px;
				right: 5px;
				border-radius: 100px;
				cursor: pointer;
			}
		}
	}
	.btnUpImg{
		@include btn();
		width: 100%;
		margin-top: 10px;
	}
}
.box-datos{
	width: 100%;
}
.title-profile{
	text-align: center;
	font-size: 16px;
	margin-bottom: 30px;
	color: $primary-color;
	font-weight: 300;
}
.form-profile{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
	margin-top: 30px;
	gap: 10px;
	
}
.data1{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
	gap: 10px;
	.box-input{
		margin: 5px 0;
	}
}
.data2{
	display: flex;
	flex-wrap: wrap;
	select{
		width: 170px;
		height: 30px;
	}
	.direccion{
		width: 100%;
	}
}
.btnPerfil{
	@include btn();
	// width: 120px;
	margin-top: 20px;
}






















// active de navegacion
.container-main{
	.navigation.active{
		left: -220px;
	}
	.box-main.active{
		left: 0;
		width: 100%;
	}
	.box-main{
		.topbar.active{
			width: 100%;
		}
	}
}



@media (max-width : 992px){
	.container-main{
		.navigation{
			left: -220px;
			&.active{
				width: 220px;
				left: 0;
			}
		}
		.box-main{
			left: 0;
			width: 100%;
			&.active{
				left: 220px;
				width: calc(100% - 220px);
			}
			.topbar{
				width: 100%;
				left: 0;
				&.active{
					left: 220px;
					width: calc(100% - 220px);
				}
			}
			
		}
	}
	.box{
		.listSitios{
			grid-column: 1 / -1;
			
		}
		.addSites{
			grid-column: 1 / 7;
		}
	}
}
@media(max-width : 780px){
	.container{
		.box-cont{
			flex-wrap: wrap;
		}
	}
}
@media (max-width :600px){
	.box{
		.listSitios{
			grid-column: 1 / -1;
			grid-row: 1;
		}
		.addSites{
			grid-column: 1 / -1;
			grid-row: 2;
		}
	}
}

@media (max-width : 550px){
	.container-main{
		.navigation{
			left: -220px;
			&.active{
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1000;
			}
			.cont-menu{
				.box-head{
					display: flex;
					align-items: center;
					justify-content: space-around;
					.box-version{
						width: 300px;
						text-align: center;
					}
					.box-close{
						display: block;
						color: $text-light;
						cursor: pointer;
						.fa-solid{
							font-size: 2.1em;
						}
					}
				}
			}
		}
		.box-main{
			left: 0;
			width: 100%;
			&.active{
				left: 220px;
				width: calc(100% - 220px);
			}
			.topbar{
				width: 100%;
				left: 0;
				&.active{
					left: 220px;
					width: calc(100% - 220px);
				}
			}
			.box-cont{
				.cont-table{
					grid-column: 1 / -1;
					overflow-x: scroll;
					
				}
				.cont-addSites{
					grid-column: 1 / -1;
				}
			}
		}
	}
}