*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--fondoDark : #003147;
	--fondoLigth : #ebecec;
	--hoverligth : #03a9f4;
	--whiteText : #dadcdd;
	--white: #f8f9f9;
	--darkText : #737678;
	--darkLigthText : #9a9ea1;
}
body{
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
.container{
	position: relative;
	width: 100%;
}
.navigation{
	position: fixed;
	width: 250px;
	height: 100%;
	background: var(--fondoDark);
	transition: 0.5s;
	overflow: hidden;
}
.navigation.active{
	width: 50px;
}
.navigation ul{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
}
.navigation ul li:hover{
	background: var(--hoverligth);
}
.navigation ul li.active{
	background: var(--hoverligth);
}
.navigation ul li.active a{
	font-weight: 700;
	color: var(--white);
}
.navigation ul li:nth-child(1){
	padding: 15px 0;
}
.navigation ul li:nth-child(1):hover{
	background: transparent;
}
.navigation ul li a{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	color: var(--whiteText);
	text-decoration: none;
}
.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
}
.navigation ul li a .iconImg{
	position: relative;
	display: block;
	min-width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.navigation ul li a .iconImg img{
	position: absolute;
	top: 5px;
	left: 2px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.navigation ul li .icon .fa-solid{
	color: var(--whiteText);
	font-size: 22px;
}
.navigation ul li.active .icon .fa-solid{
	color: var(--white);
}
.navigation ul li a .title{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
}
.navigation ul li a .title-user{
	font-size: 16px;
	line-height: 50px;
	white-space: nowrap;
	margin-left: 20px;
}
/* main */
.main{
	position: absolute;
	width: calc(100% - 250px);
	left: 250px;
	min-height: 100vh;
	background-color: var(--fondoLigth);
	transition: .5s;
}
.main.active{
	width: calc(100% - 50px);
	left: 50px;
}
.main .topbar{
	width: 100%;
	background-color: var(--white);
	height: 60px;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.main .topbar .toggle{
	position: relative;
	width: 60px;
	height: 60px;
	cursor: pointer;
}
.toggle::before{
	content : '\f0c9';
	font-family: fontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 60px;
	font-size: 24px;
	color: var(--darkText);
	text-align: center;
}
.main .topbar .search{
	position: relative;
	width: 400px;
	margin: 0 10px;
}
.main .topbar .search label{
	position: relative;
	width: 100%;
}
.main .topbar .search label input{
	width: 100%;
	height: 40px;
	border: 1px solid var(--darkText);
	border-radius: 10px;
	padding: 5px 20px;
	padding-left: 35px;
	outline: none;
	color: var(--darkLigthText);
	font-size: 16px;
	font-family: 'Montserrat';
	font-weight: 300;
}
.main .topbar .search label .fa-solid{
	position: absolute;
	left: 15px;
	top: 2px;
	color: var(--darkLigthText);
}
.main .topbar .user{
	position: relative;
	min-width: 50px;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	overflow: hidden;
}
.main .topbar .user img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
/* card */
.container-main{
	width: 95%;
	margin: 20px auto;
}
.main .cardBox{
	position: relative;
	width: 100%;
	padding: 10px 0;
	display: grid;
	grid-template-columns: repeat(4,1fr);
	gap: 20px;
}
.main .cardBox .card{
	position: relative;
	background-color: var(--white);
	padding: 20px;
	display: flex;
	justify-content: space-between;
	cursor: pointer;
	border-radius: 4px;
}
.main .cardBox .card .numbers{
	position: relative;
	font-size: 2em;
	font-weight: 500;
}
.main .cardBox .card .cardName{
	color: var(--darkLigthText);
}
.main .cardBox .card .iconBox{
	font-size: 2.2em;
	color: #003147;
}

/* table */
.main .details{
	position: relative;
	width: 100%;
	margin-top: 10px;
	display: grid;
	gap: 20px;
	grid-template-columns: 2fr 1fr;
}

.main .details .recentOrders{
	position: relative;
	/* display: grid; */
	min-height: 330px;
	background-color: var(--white);
	padding: 20px;
	border-radius: 4px;
}

.main .details .recentOrders .cardHeader{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 10px;
}
.main .details .recentOrders .cardHeader h2{
	font-weight: 600;
}
.main .details .recentOrders .cardHeader .btn{
	position: relative;
	padding: 5px 10px;
	background-color: var(--hoverligth);
	color: var(--whiteText);
	text-decoration: none;
	padding: 5px 10px;
	border-radius: 6px;
}
.main .details .recentOrders table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 10px;
}
.main .details .recentOrders table thead td{
	font-weight: 600;
}
.main .details .recentOrders table tr{
	border-bottom: 1px solid rgba(154, 158, 161,0.3);
}
.main .details .recentOrders table tr :last-child{
	border-bottom: none;
}
.main .details .recentOrders table tbody tr:hover{
	background-color: var(--hoverligth);
	color: var(--white);
	cursor: pointer;
}
.main .details .recentOrders table tr td{
	padding: 8px;
}
.main .details .recentOrders table thead tr td:last-child,
.main .details .recentOrders table tbody tr td:last-child{
	text-align: right;
}
.main .details .recentOrders table thead tr td:nth-child(2),
.main .details .recentOrders table tbody tr td:nth-child(2){
	text-align: right;
	padding-right: 20px;
}
.main .details .recentOrders table thead tr td:nth-child(3),
.main .details .recentOrders table tbody tr td:nth-child(3){
	text-align: center;
}
.main .details .recentOrders table tbody .status{
	position: relative;
	padding: 2px 4px;
}

/* recentCustomers */
.details .recentCustomers{
	position: relative;
	min-height: 330px;
	background-color: var(--white);
	padding: 20px;
	border-radius: 4px;
}
.details .recentCustomers .imgBx{
	position: relative;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	overflow: hidden;
}
.details .recentCustomers .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.details .recentCustomers table tr:hover{
	background: var(--hoverligth);
	color: var(--white);
}
.details .recentCustomers table tr td{
	padding: 7px 10px;
}
.details .recentCustomers table tr td h4{
	font-size: 14px;
	font-weight: 300;
}

/* responsive */
@media (max-width: 992px){
	.navigation{
		left: -300px;
	}
	.navigation.active{
		left: 0;
		width: 300px;
	}
	.main{
		width: 100%;
		left: 0;
	}
	.main.active{
		width: calc(100%  - 300px);
		left: 300px;
	}
	.main .cardBox{
		grid-template-columns: repeat(2,1fr);
	}
}
@media (max-width: 768px){
	.main .details{
		grid-template-columns: repeat(1,1fr);
	}
	.main .details .recentOrders .cardHeader h2,
	.main .details .recentCustomers .cardHeader h2{
		font-size: 18px;
	}
}

@media (max-width: 480px){
	.main .cardBox{
		grid-template-columns: repeat(1,1fr);
	}
	.main .details .recentOrders{
		overflow-x: auto;
	}
	.main .details .recentOrders table{
		width: 600px;
	}
	.navigation{
		width: 100%;
		left: -100%;
		z-index: 1000;
	}
	.navigation.active{
		width: 100%;
		left: 0;
	}
	.main .topbar .toggle.active{
		position: fixed;
		z-index: 10000;
		right: 0;
		left: initial;
	}
	.main .topbar .toggle.active::before{
		color: var(--whiteText);
	}
	.main,.main.active{
		width: 100%;
		left: 0;
	}
}