@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  -webkit-appearance: none;
}

html::-webkit-scrollbar-thumb {
  background-color: #111827;
  border-radius: 20px;
  border: 2px solid #fefefe;
}

html::-webkit-scrollbar-track {
  border-radius: 10px;
}

html::-webkit-scrollbar:horizontal {
  height: 12px;
}

html::-webkit-scrollbar:vertical {
  width: 12px;
}

.container {
  width: 96%;
  margin: 100px auto;
}

.container-main {
  position: relative;
}

.container-main .arrow .list__arrow {
  transform: rotate(90deg);
}

.container-main .navigation {
  position: fixed;
  left: 0;
  top: 0;
  width: 220px;
  height: 100%;
  background: #111827;
  transition: 0.5s;
}

.container-main .navigation .cont-menu {
  position: relative;
}

.container-main .navigation .cont-menu .box-head {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(189, 189, 189, 0.3);
}

.container-main .navigation .cont-menu .box-head .box-logo {
  width: 100%;
  text-align: center;
}

.container-main .navigation .cont-menu .box-head .box-version {
  text-align: center;
  color: #fefefe;
}

.container-main .navigation .cont-menu .box-head .box-close {
  display: none;
}

.container-main .navigation .cont-menu .nav {
  width: 100%;
  margin-top: 30px;
}

.container-main .navigation .cont-menu .nav .list .list__item {
  overflow: hidden;
}

.container-main .navigation .cont-menu .nav .list .list__item .nav__link {
  width: 100%;
  text-decoration: none;
  font-size: 1.2em;
  color: rgba(193, 193, 193, 0.5);
  display: flex;
  align-items: center;
  padding: 5px 20px 5px 20px;
  margin-bottom: 4px;
  transition: .5s;
  cursor: pointer;
}

.container-main .navigation .cont-menu .nav .list .list__item .nav__link .icon {
  margin-right: 20px;
}

.container-main .navigation .cont-menu .nav .list .list__item .nav__link .fa-arrow-right {
  margin-left: auto;
  transition: transform .3s;
}

.container-main .navigation .cont-menu .nav .list .list__item .nav__link.active {
  color: #fefefe;
}

.container-main .navigation .cont-menu .nav .list .list__item .nav__link:hover {
  background: rgba(193, 193, 193, 0.5);
  color: #fefefe;
}

.container-main .navigation .cont-menu .nav .list .list__item .listShow {
  transition: height .4s;
  height: 0;
}

.container-main .navigation .cont-menu .nav .list .list__item .listShow .listInside {
  padding-left: 40px;
}

.container-main .navigation .cont-menu .nav .list .list__item .listShow .listInside .fa-solid {
  margin-right: 5px;
  font-size: 1em;
}

.container-main .navigation .cont-menu .nav .list .list__item .listShow .listInside .linkInside {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 2px;
  padding: 2px 4px 2px 10px;
  text-decoration: none;
  color: rgba(193, 193, 193, 0.5);
}

.container-main .navigation .cont-menu .nav .list .list__item .listShow .listInside .linkInside:hover {
  color: #fefefe;
}

.container-main .navigation .cont-menu .nav .list .list__item .listShow .listInside .linkInside.active {
  color: #fefefe;
}

.container-main .navigation .cont-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  background: rgba(17, 24, 39, 0.7);
  color: #c1c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 1.3rem;
}

.container-main .navigation .cont-footer a {
  text-decoration: none;
  cursor: pointer;
  color: #c1c1c1;
}

.container-main .box-main {
  position: absolute;
  left: 220px;
  top: 0;
  width: calc(100% - 220px);
  background: #E2E0CD;
  transition: 0.5s;
}

.container-main .box-main .topbar {
  position: fixed;
  top: 0;
  width: calc(100% - 220px);
  height: 70px;
  background: #fefefe;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0px 11px 10px -9px #c1c1c1;
  transition: 0.5s;
  z-index: 1;
}

.container-main .box-main .topbar.sticky {
  height: 60px;
}

.container-main .box-main .topbar .box-menu .toggle {
  font-size: 1.8em;
  color: #c1c1c1;
  cursor: pointer;
}

.container-main .box-main .topbar .box-menu .toggle:hover {
  color: #ff0000;
}

.container-main .box-main .topbar .info-user {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  overflow: hidden;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-main .box-main .topbar .info-user img {
  width: 100%;
}

.container .box-card {
  margin-bottom: 20px;
}

.container .box-card .card {
  width: 250px;
  padding: 20px;
  background: #ffdd00;
  border-radius: 4px;
}

.container .box-card .card .card-body .text-card {
  font-size: 1.2em;
  color: #192a56;
  text-decoration: none;
  transition: .5s;
  cursor: pointer;
}

.container .box-card .card .card-body .text-card .numbers {
  font-size: 1.3em;
  margin-right: 4px;
}

.container .box-card .card .card-body .text-card:hover {
  color: rgba(25, 42, 86, 0.7);
}

.heading {
  margin-bottom: 3rem;
  background: #fefefe;
  padding: 2rem 1rem;
  border-radius: 4px;
}

.heading .title {
  font-size: 2rem;
  color: #111827;
  font-weight: 300;
  text-transform: capitalize;
}

.heading .title span {
  color: #ff0000;
  font-size: 2.3rem;
  font-weight: 400;
}

.container .tools {
  background: #fefefe;
  padding-top: 2rem;
  border-radius: 4px;
}

.container .tools label {
  position: relative;
}

.container .tools label span {
  margin-right: 1rem;
  padding: .5rem 1.5rem;
  background: #013ca6;
  color: #fefefe;
  text-transform: uppercase;
  font-size: .8rem;
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
}

.container .tools label input {
  display: none;
}

.container .tools label input:checked ~ span {
  background: #ffdd00;
  color: #111827;
  box-shadow: 0px 11px 10px -9px #c1c1c1;
}

.container .tools label input:checked ~ span::before {
  font-family: 'fontawesome';
  content: '\f00c';
  position: absolute;
  top: .13rem;
  left: .3rem;
  font-size: 1.1rem;
}

.box-cont {
  border-radius: 4px;
}

.box-cont .link_url {
  color: #111827;
}

.box-cont .link_url:hover {
  color: #c1c1c1;
}

.box-cont .link_url:visited {
  color: #013ca6;
}

.box {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
}

.box .listSitios {
  width: 100%;
  grid-column: 1 / 10;
  background: #fefefe;
  border-radius: 4px;
  padding: 2rem;
  overflow-x: auto;
}

.box .listSitios::-webkit-scrollbar {
  -webkit-appearance: none;
}

.box .listSitios::-webkit-scrollbar-thumb {
  background-color: #111827;
  border-radius: 20px;
  border: 2px solid #fefefe;
}

.box .listSitios::-webkit-scrollbar-track {
  border-radius: 10px;
}

.box .listSitios::-webkit-scrollbar:horizontal {
  height: 12px;
}

.box .listSitios::-webkit-scrollbar:vertical {
  width: 12px;
}

.box .addSites {
  grid-column: 10 / -1;
}

.box .addSites .cardHeader {
  background: #fefefe;
  padding: 2rem;
  border-radius: 4px;
}

.box .addSites .cardHeader h2 {
  color: #111827;
  padding-bottom: 2rem;
}

.box .addSites .cardHeader .formSiteAdd {
  width: 100%;
}

.box .addSites .cardHeader .formSiteAdd .box-input {
  position: relative;
  margin-bottom: 5px;
}

.box .addSites .cardHeader .formSiteAdd .box-input input {
  width: 100%;
  padding: .3rem;
  font-size: 1.1rem;
  color: #212121;
  padding-left: 25px;
  border: 1px solid #757575;
  border-radius: 4px;
  margin-bottom: 5px;
}

.box .addSites .cardHeader .formSiteAdd .box-input i {
  position: absolute;
  left: 5px;
  top: 6px;
  font-size: 1rem;
  color: #343a40;
}

.box .addSites .cardHeader .formSiteAdd .box-button .btn-addSite {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 4px;
  background: #009688;
  color: #fefefe;
}

.box .addSites .cardHeader .formSiteAdd .box-button .btn-addSite:hover {
  background: rgba(0, 150, 136, 0.7);
  box-shadow: 0px 11px 10px -9px #c1c1c1;
}

.box .addSites .cardHeader .formSiteAdd .box-button .btn-updateSite {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 4px;
  background: #009688;
  color: #fefefe;
  display: none;
  background: #013ca6;
  color: #fefefe;
}

.box .addSites .cardHeader .formSiteAdd .box-button .btn-updateSite:hover {
  background: rgba(0, 150, 136, 0.7);
  box-shadow: 0px 11px 10px -9px #c1c1c1;
}

.box .addSites .cardHeader .formSiteAdd .box-button .btn-updateSite:hover {
  background: rgba(1, 60, 166, 0.7);
  box-shadow: 0px 11px 10px -9px #c1c1c1;
}

.box-form {
  padding: 2rem 1rem;
  background: #fefefe;
  border-radius: 4px;
  box-shadow: 0px 11px 10px -9px #c1c1c1;
}

.box-form .title-box {
  font-size: 1.8rem;
  color: #111827;
  font-weight: 300;
  margin-bottom: 1rem;
}

input, select {
  width: 96%;
  border-radius: 4px;
  border-color: #757575;
  color: #212121;
  font-size: 11px;
  padding: 5px;
  outline: none;
}

.form-add-cuenta {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 10px;
  padding: 20px 0;
}

.box-medio {
  display: flex;
  gap: 10px;
}

.box-medio .box-radio {
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  gap: 5px;
}

.box-medio .box-radio label .span {
  padding: 5px 10px;
  background: #757575;
  color: #111827;
  text-transform: uppercase;
  font-size: .8rem;
  border-radius: 4px;
  transition: 0.5s;
  cursor: pointer;
  position: relative;
}

.box-medio .box-radio label input {
  display: none;
}

.box-medio .box-radio label input:checked ~ .span {
  background: #111827;
  color: #fefefe;
  box-shadow: 0px 11px 10px -9px #c1c1c1;
  padding-left: 25px;
}

.box-medio .box-radio label input:checked ~ .span::before {
  font-family: 'fontawesome';
  content: '\f00c';
  position: absolute;
  left: 4px;
  top: 6px;
  font-size: 14px;
}

form .label {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid #c1c1c1;
}

form .label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid #013ca6;
  transform: translateX(-100%);
  transition: 0.5s;
}

form .label .span {
  position: absolute;
  bottom: 5px;
  left: 0;
  color: #111827;
  transition: 0.5s;
  text-transform: capitalize;
}

form .box-input {
  width: 100%;
  height: 30px;
  position: relative;
  overflow: hidden;
}

form .box-input input[type=text] {
  width: 100%;
  height: 100%;
  background: none;
  color: #111827;
  padding-top: 10px;
  border: none;
  outline: 0px;
}

form .box-input input[type=text]:focus + .label .span,
form .box-input input[type=text]:valid + .label .span {
  transform: translateY(-60%);
  font-size: 11px;
  color: #c1c1c1;
}

form .box-input input[type=text]:focus + .label::after,
form .box-input input[type=text]:valid + .label::after {
  transform: translateX(0%);
}

.form-add-cuenta .box-pregunta {
  grid-column: 1 / -1;
  width: 100%;
  margin-top: .625rem;
  border-top: 2px dotted #c1c1c1;
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.form-add-cuenta .box-pregunta .box-input {
  margin-bottom: 10px;
  width: 100%;
}

.form-add-cuenta .btnAddC {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 4px;
  background: #009688;
  color: #fefefe;
  width: 150px;
}

.form-add-cuenta .btnAddC:hover {
  background: rgba(0, 150, 136, 0.7);
  box-shadow: 0px 11px 10px -9px #c1c1c1;
}

.box-cuenta {
  width: 100%;
  background: #fefefe;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.box-cuenta .listCuenta {
  width: 100%;
  background: #fefefe;
  border-radius: 4px;
  padding: 2rem;
  overflow-x: auto;
}

.box-perfil {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
}

.box-img-profile {
  width: 200px;
  background: #fefefe;
  border-radius: 4px;
  box-shadow: 0px 11px 10px -9px #c1c1c1;
  padding: 2rem;
}

.box-img-profile h5 {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  color: #111827;
  font-weight: 300;
}

.box-img-profile .formImg {
  height: 100px;
  border-radius: 50px;
  background-image: url(../../src/images/default.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.box-img-profile .formImg #file {
  display: none;
}

.box-img-profile .formImg .search {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(117, 117, 117, 0.7);
  transform: translate(-50%, -50%);
  cursor: pointer;
  font-size: 2rem;
  z-index: 1000;
}

.box-img-profile #preview-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  z-index: 0;
}

.box-img-profile #preview-images .thumbnail {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  position: relative;
}

.box-img-profile #preview-images .thumbnail .close-button {
  width: 20px;
  height: 20px;
  background-color: black;
  color: white;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 100px;
  cursor: pointer;
}

.box-img-profile .btnUpImg {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 4px;
  background: #009688;
  color: #fefefe;
  width: 100%;
  margin-top: 10px;
}

.box-img-profile .btnUpImg:hover {
  background: rgba(0, 150, 136, 0.7);
  box-shadow: 0px 11px 10px -9px #c1c1c1;
}

.box-datos {
  width: 100%;
}

.title-profile {
  text-align: center;
  font-size: 16px;
  margin-bottom: 30px;
  color: #111827;
  font-weight: 300;
}

.form-profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 30px;
  gap: 10px;
}

.data1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 10px;
}

.data1 .box-input {
  margin: 5px 0;
}

.data2 {
  display: flex;
  flex-wrap: wrap;
}

.data2 select {
  width: 170px;
  height: 30px;
}

.data2 .direccion {
  width: 100%;
}

.btnPerfil {
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 8px 12px;
  text-transform: uppercase;
  background: none;
  border: none;
  border-radius: 4px;
  background: #009688;
  color: #fefefe;
  margin-top: 20px;
}

.btnPerfil:hover {
  background: rgba(0, 150, 136, 0.7);
  box-shadow: 0px 11px 10px -9px #c1c1c1;
}

.container-main .navigation.active {
  left: -220px;
}

.container-main .box-main.active {
  left: 0;
  width: 100%;
}

.container-main .box-main .topbar.active {
  width: 100%;
}

@media (max-width: 992px) {
  .container-main .navigation {
    left: -220px;
  }
  .container-main .navigation.active {
    width: 220px;
    left: 0;
  }
  .container-main .box-main {
    left: 0;
    width: 100%;
  }
  .container-main .box-main.active {
    left: 220px;
    width: calc(100% - 220px);
  }
  .container-main .box-main .topbar {
    width: 100%;
    left: 0;
  }
  .container-main .box-main .topbar.active {
    left: 220px;
    width: calc(100% - 220px);
  }
  .box .listSitios {
    grid-column: 1 / -1;
  }
  .box .addSites {
    grid-column: 1 / 7;
  }
}

@media (max-width: 780px) {
  .container .box-cont {
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .box .listSitios {
    grid-column: 1 / -1;
    grid-row: 1;
  }
  .box .addSites {
    grid-column: 1 / -1;
    grid-row: 2;
  }
}

@media (max-width: 550px) {
  .container-main .navigation {
    left: -220px;
  }
  .container-main .navigation.active {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
  }
  .container-main .navigation .cont-menu .box-head {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .container-main .navigation .cont-menu .box-head .box-version {
    width: 300px;
    text-align: center;
  }
  .container-main .navigation .cont-menu .box-head .box-close {
    display: block;
    color: #c1c1c1;
    cursor: pointer;
  }
  .container-main .navigation .cont-menu .box-head .box-close .fa-solid {
    font-size: 2.1em;
  }
  .container-main .box-main {
    left: 0;
    width: 100%;
  }
  .container-main .box-main.active {
    left: 220px;
    width: calc(100% - 220px);
  }
  .container-main .box-main .topbar {
    width: 100%;
    left: 0;
  }
  .container-main .box-main .topbar.active {
    left: 220px;
    width: calc(100% - 220px);
  }
  .container-main .box-main .box-cont .cont-table {
    grid-column: 1 / -1;
    overflow-x: scroll;
  }
  .container-main .box-main .box-cont .cont-addSites {
    grid-column: 1 / -1;
  }
}
/*# sourceMappingURL=dash.css.map */