$textWhite : rgb(255, 255, 255);
$textLigth : rgb(193, 193, 193);
$textDark : rgb(52, 58, 64);
$textDarkLight : rgba($color : $textDark , $alpha : .5);
$fondoLigth : rgb(245, 247, 255);
$fondoDark : rgb(17, 24, 39);
$primary-color : #1B1464;
$fondoMiddle : #192a56;
$blueLigth : rgb(75, 73, 172);
$hoverligth : rgba($color : $fondoMiddle, $alpha : .7);
$danger : #eb2f06;
$warning : rgb(255, 193, 0);
$black : rgb(40, 47, 58);
$anchoF : 225px;
$ancho : calc(100% - 225px);
$transition : .5s;
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	scroll-behavior: smooth;
	font-size: 14px;
	font-family: 'Poppins', sans-serif;
}
// navegacion
.container-main{
	position: relative;
	.arrow .list__arrow{
		transform: rotate(90deg);
	}
	.navigation{
		position: fixed;
		left: 0;
		top: 0;
		width: 220px;
		height: 100%;
		background: $fondoDark;
		transition: $transition;
		.cont-menu{
			.box-head{
				padding: 20px 0px;
				border-bottom: 1px solid rgba($color: $textLigth, $alpha: .5);
				.box-version{
					text-align: center;
					// padding: 20px 0;
					color: $textWhite;
				}
				.box-close{
					display: none;
				}
			}
			.nav{
				width: 100%;
				margin-top: 30px;
				.list{
					.list__item{
						overflow: hidden;
						.nav__link{
							width: 100%;
							text-decoration: none;
							font-size: 1.2em;
							color: rgba($color: $textLigth, $alpha: .5);
							display: flex;
							align-items: center;
							padding: 5px 20px 5px 20px;
							margin-bottom: 4px;
							transition: .5s;
							.icon{
								margin-right: 20px;
							}
							.fa-arrow-right{
								margin-left: auto;
								transition: transform .3s;
							}
							&.active{
								color: $textWhite;
							}
							&:hover{
								background: rgba($color: $textLigth, $alpha: .5);
								color: $textWhite
							}
						}
						// desplegable
						.listShow{
							transition: height .4s;
							height: 0;
							.listInside{
								padding-left: 40px;
								.fa-solid{
									margin-right: 5px;
									font-size: 1em;
								}
								.linkInside{
									display: flex;
									align-items: center;
									font-size: 1.2em;
									margin-bottom: 2px;
									padding: 2px 4px 2px 10px;
									text-decoration: none;
									color: rgba($color: $textLigth, $alpha: .5);
									&:hover{
										color: $textWhite;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
// topbar
.container-main{
	.box-main{
		position: absolute;
		left: 220px;
		top: 0;
		width: calc(100% - 220px);
		background: $fondoLigth;
		transition: $transition;
		.topbar{
			position: fixed;
			top: 0;
			width: calc(100% - 220px);
			height: 70px;
			background: $textWhite;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 20px;
			box-shadow: 0px 11px 10px -9px $textLigth;
			transition: $transition;
			&.sticky{
				height: 60px;
			}
			.box-menu{
				.toggle{
					font-size: 1.8em;
					color: $textLigth;
					cursor: pointer;
					&:hover{
						color: $danger;
					}
				}
			}
			.info-user{
				width: 40px;
				height: 40px;
				img{
					width: 100%;
				}
			}
		}
	}
}
.container-main{
	.box-main{
		.container{
			width: 96%;
			margin: 100px auto;
			.box-card{
				margin-bottom: 20px;
				.card{
					width: 250px;
					padding: 20px;
					background: $warning;
					border-radius: 4px;
					.card-body{
						.text-card{
							font-size: 1.2em;
							color: $fondoMiddle;
							text-decoration: none;
							transition: .5s;
							cursor: pointer;
							.numbers{
								font-size: 1.3em;
								margin-right: 4px;
							}
							&:hover{
								color: rgba($color: $fondoMiddle, $alpha: .7);
							}
						}
					}
				}
			}
			// contenido
			.box-cont{
				display: flex;
				gap: 10px;
				.cont-table{
					width: 100%;
					padding: 20px;
					background: $textWhite;
					border-radius: 4px;
					.title-header{
						font-size: 1.5em;
						text-transform: capitalize;
						color: $fondoMiddle;
					}
					.header-tools{
						display: flex;
						justify-content: space-between;
						align-items: center;
						width: 100%;
						margin-top: 20px;
						padding: 10px 0;
						border: 1px solid;
						.tools{
							.radio{
								font-size: 14px;
								font-weight: 500;
								text-transform: capitalize;
								display: inline-block;
								vertical-align: middle;
								position: relative;
								padding-left: 30px;
								cursor: pointer;
								&+.radio{
									margin-left: 20px;
								}
								input[type="radio"]{
									display: none;
									&:checked ~ span{
										&::after{
											transform: translate(-50% , -50%) scale(1);
										}
									}
								}
								span{
									width: 16px;
									height: 16px;
									border-radius: 50%;
									border: 3px solid $primary-color;
									display: block;
									position: absolute;
									top: 0;
									left: 7px;
									&::after{
										content: "";
										width: 5px;
										height: 5px;
										background: $primary-color;
										display: block;
										position: absolute;
										left: 50%;
										top: 50%;
										transform: translate(-50% , -50%) scale(0);
										border-radius: 50%;
										transition: 300ms ease-in-out 0s;
									}
								}
							}
						}
					}
					.table{
						width: 100%;
						border-collapse: collapse;
						margin: 0;
						padding: 0;
						margin-top: 20px;
						thead{
							tr{
								text-align: left;
							}
						}
						th{
							font-size: 1.3em;
							padding: 10px;
							color: $fondoMiddle;
							text-transform: uppercase;
						}
						td{
							padding: 8px;
							&:last-child{
								width: 10px;
								text-align: center;
							}
						}
						tbody{
							tr{
								border-bottom: 1px solid rgba($color: $fondoMiddle ,$alpha: .7);
								font-size: 1.1em;
								&:hover{
									background: rgba($color: $textLigth, $alpha: .4);
								}
								.opciones{
									.box-options{
										font-size: 1.2em;
										cursor: pointer;
										.del{
											margin-right: 4px;
											&:hover{
												color: $danger;
											}
										}
										.update{
											&:hover{
												color: $warning;
											}
										}
									}
								}
								&:nth-child(even){
									background: rgba($color: $textLigth, $alpha: .4);
								}
							}

							td{
								&:hover{
									background: rgba($color: $textLigth, $alpha: .4);

								}
								
							}
						}
					}
				}
				.cont-addSites{
					width: 300px;
					.cardHeader{
						background: $textWhite;
						width: 100%;
						border-radius: 4px;
						padding: 20px;
						margin-bottom: 10px;
						h2{
							font-size: 1.2em;
						}
						.formSiteAdd{
							margin-top: 30px;
							background: $textWhite;
							.box-input{
								position: relative;
								width: 100%;
								label{
									position: absolute;
									top: 10px;
									left: 5px;
									.fa-solid{
										color: $textDarkLight	;
										font-size: 1.2em;
									}
								}
								input{
									width: 100%;
									margin-bottom: 5px;
									border: none;
									outline: none;
									border: 1px solid $textDark;
									border-radius: 4px;
									padding: 6px 0;
									padding-left: 30px;
									color: $textDark;
									font-size: 1em;
								}
							}
							.box-button{
								.btn-addSite{
									background-color: $fondoMiddle;
									&:hover{
										background: rgba($color: $fondoMiddle, $alpha: .8);
									}
								}
								.btn-updateSite{
									display: none;
									background: #1B1464;
									&:hover{
										background: rgba($color :#1B1464, $alpha: 0.8);
									}
								}
								.btn{
									position: relative;
									padding: 5px 10px;
									color: $textWhite;
									border: none;
									padding: 6px 12px;
									border-radius: 6px;
									cursor: pointer;
									transition: .5s;
								}
							}
						}
					}
				}
			}
		}
	}
}

.container-main{
	.navigation.active{
		left: -220px;
	}
	.box-main.active{
		left: 0;
		width: 100%;
	}
	.box-main{
		.topbar.active{
			width: 100%;
		}
	}
}
@media (max-width : 992px){
	.container-main{
		.navigation{
			left: -220px;
			&.active{
				width: 220px;
				left: 0;
			}
		}
		.box-main{
			left: 0;
			width: 100%;
			&.active{
				left: 220px;
				width: calc(100% - 220px);
			}
			.topbar{
				width: 100%;
				left: 0;
				&.active{
					left: 220px;
					width: calc(100% - 220px);
				}
			}
		}
	}
}
@media(max-width : 780px){
	.container{
		.box-cont{
			flex-wrap: wrap;
		}
	}
}
// @media (max-width :600px){
// .container-main{
// 	.container{
// 		.box-cont{
// 			.cont-table{
// 				.table{
// 					thead{
// 						display: none;
// 					}
// 					tbody{
// 						tr{
// 							margin-bottom: 15px;
// 							background: rgba($color: $textLigth, $alpha: .4);
// 							border-radius: 4px;
// 							box-shadow: 0px 6px 11px -2px rgba($color: $fondoMiddle, $alpha: .7);
// 							display: block;
// 							td{
// 								display: block;
// 								text-align: right;
// 								&:last-child{
// 									border-bottom: 0px;
// 									width: 100%;
// 									text-align: right;
// 								}
// 								&::before{
// 									content: attr(data-label);
// 									text-transform: uppercase;
// 									font-weight: bold;
// 									float: left;
// 								}
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }
// }
@media (max-width : 550px){
	.container-main{
		.navigation{
			left: -220px;
			&.active{
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				z-index: 1000;
			}
			.cont-menu{
				.box-head{
					display: flex;
					align-items: center;
					justify-content: space-around;
					.box-version{
						width: 300px;
						text-align: center;
					}
					.box-close{
						display: block;
						color: $textLigth;
						cursor: pointer;
						.fa-solid{
							font-size: 2.1em;
						}
					}
				}
			}
		}
		.box-main{
			left: 0;
			width: 100%;
			&.active{
				left: 220px;
				width: calc(100% - 220px);
			}
			.topbar{
				width: 100%;
				left: 0;
				&.active{
					left: 220px;
					width: calc(100% - 220px);
				}
			}
		}
	}
}