table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr .box-options {
	display: flex;
	justify-content: center;
	font-size: 16px;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr .box-options i{
	margin: 0 5px;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr .box-options .delSite,
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr .box-options .delCuenta{
  color: #ff0000;
	cursor: pointer;
}


table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr .box-options .aditSite,
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr .box-options .editCuenta{
  color: #ffdd00;
	cursor: pointer;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr .box-options .fa-eye-slash{
  color: #757575;
	cursor: pointer;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr .box-options .fa-star{
  color: #009688;
	cursor: pointer;
}
table.dataTable>tbody>tr.child ul.dtr-details>li:last-child{
	display: flex;
	align-items: center;
}
table.dataTable>tbody>tr.child ul.dtr-details>li:last-child .box-options{
	justify-content: space-evenly;
	width: 80px;
}

table.dataTable.compact thead th, table.dataTable.compact thead td {
	text-transform: uppercase;
}
.dataTables_wrapper .dataTables_filter {
	margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_length select {
	border-color: rgb(3, 22, 52);
}
.dataTables_wrapper .dataTables_filter input{
	border-color: rgb(3, 22, 52);
}

table.dataTable>tbody>tr.child span.dtr-title{
	padding-right: 10px;
}