@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');
$primary-color : rgb(17, 24, 39);
$primary-color-1 : rgb(3, 22, 52);

$secondary-color : #9f9fa3;
$background-dark : #262A33;
$background-light : #E2E0CD;

$text-dark : rgb(52, 58, 64);
$text-light : rgb(193, 193, 193);
$text-primary-light : #212121;
$text-secondary-light : #757575;

$alphaT : .7;
$info-color : #013ca6;
$info-hover : rgba($color : $info-color, $alpha : $alphaT);
$danger-color : #ff0000;
$danger-hover : rgba($color : $danger-hover, $alpha : $alphaT);
$warning-color : #ffdd00;
$warning-hover : rgba($color : $warning-color, $alpha : $alphaT);
$success-color : #009688;
$success-hover : rgba($color : $success-color, $alpha : $alphaT);

$white-color : #fefefe;
$black-color : #000000;
$border : #BDBDBD;
$border-radius : 4px;

$transition : .5s;

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 14px;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}
a{
	text-decoration: none;
	display: inline-block;
}
.container{
	width: 95%;
	margin: 0 auto;
}
.grid-container{
	display: grid;
	grid-template-columns: repeat(12,1fr);
	gap: 20px;
}