// colores
$backgroundDark : rgb(52, 58, 64);
$backgroundLigth : rgb(244, 246, 249);
$blueLight : rgb(46, 52, 79);
$blue : rgb(8, 14, 44);
$white : #f6f8fa;
$borderDark : rgba(75, 84, 92,.4);
$borderLight : rgba(199, 203, 206,.4);
$textDark : #303440;
$textblue : rgb(0, 142, 253);
$textLigth : rgba(199, 203, 206,.8);

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
}
